	<div id={{conf.id}} class="col-sm-12 scroll-fix">
		<h4>{{conf.name}} <a ng-click="top()" class="glyphicon glyphicon-arrow-up pull-right"></a></h4>
	</div>
	<div class="col-sm-12" ng-class="{selected:(selectedConf==conf.id),saved: isSaved = (selectedConf[conf.id]),calendarSelect:(showConf==conf.id)}">
		<div class="col-xs-12 col-sm-9">
			<p>{{conf.date}}</p>
			<p>
				<span class="label label-info">{{conf.salle}}</span>
				<span class="label label-primary" data='{{conf.idLang}}'>{{conf.lang}}</span>
			</p>
			<p>
			   {{conf.detail}}
			</p>
		</div>
		<div class="col-xs-12 col-sm-3 text-center">
			  <div ng-repeat="conferencier in conf.conferenciers" class="conferencier">
				<a href="{{conferencier.link}}">
					<p><img src="{{conferencier.img}}" alt="" class="img-thumbnail img-responsive"/></p>
					<p>{{conferencier.name}}</p>
				</a>
			</div>
		</div>
		<div class="col-sm-12 text-center">
		  <button id="btnParticipate" type="button" class="btn btn-sm addEvent" ng-class="{'btn-primary':!isSaved,'btn-danger':isSaved}"  ng-click="toggleSession(conf, $event)">
				<span ng-class="{hide:isSaved}"> Je participe ! </span>
				<span ng-class="{hide:!isSaved}">Je ne participe plus</span> 
		  </button>
		</div>
	</div>
